{% extends 'base.html' %}

{% block navbar %}
              <a class="nav-link" aria-current="page" href="/">Home</a>
              <a class="nav-link active" href="{{ url_for('event.booking_history') }}">Bookings</a>
              <a class="nav-link" href="{{ url_for('event.create') }}">Create Event</a>
{% endblock %}

{% block content %}
    <br><br>
    <h1 class = text-center>Booking History</h1>
    <br>
    {% if bookings == [] %}
    <p class = text-center>You have no bookings.</p>
    {% else %}
    <div class = "container-fluid">
        {% for booking in bookings %}
        <div class = "row justify-content-center p-3">
            <div class = "col-10">
                <div class="card mb-3 rounded shadow border border-secondary border-2">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{{booking.event.image}}" class="img-fluid rounded-start" style = "width:500px; height:180px;">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">{{booking.event.name}}</h5>
                          <p class="card-text">Booking ID: {{booking.id}}<br>Booking Date: {{booking.purchase_date.strftime('%d/%m/%y')}}<br>Event Date: {{booking.event.event_date.strftime('%d/%m/%y')}}<br>Don't forget to bring your ticket on the date of the event.</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}