{% extends 'base.html' %}

{% block navbar %}
    <a class="nav-link active" aria-current="page" href="/">Home</a>
    <a class="nav-link" href="{{ url_for('event.booking_history') }}">Bookings</a>
    <a class="nav-link" href="{{ url_for('event.create') }}">Create Event</a>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <br>
    <form action="{{ url_for('main.search')}}" method="get" class="form-inline">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="input-group rounded">
                    <input name="search" type="search" id="searchForm" class="form-control rounded border border-secondary" placeholder="Search for events" aria-label="Search" aria-describedby="search-addon" />
                </div>
            </div>
        </div>
        <br><br>
        <h1 class="text-center">Events near Brisbane, QLD</h1>
        <div class="row">
            <div style="max-width: 200px;">
                <select name="filter" class="form-select form-select-sm rounded border border-secondary" aria-label="Small select example">
                    <option selected>Filter by Genre</option>
                    <option value="Pop">Pop</option>
                    <option value="Rock">Rock</option>
                    <option value="Jazz">Jazz</option>
                    <option value="Classical">Classical</option>
                    <option value="Hip Hop">Hip Hop</option>
                    <option value="Country">Country</option>
                    <option value="R&B">R&B</option>
                    <option value="Electronic">Electronic</option>
                    <option value="Metal">Metal</option>
                    <option value="Indie">Indie</option>
                    <option value="Other">Other</option>
                </select>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-3">
                <button type="submit" class="btn btn-block btn-secondary">Filter</button>
            </div>
	    <div class="col-9"></div>
        </div>
    </form>
    <br>

    {% if events == [] %}
        <p class="text-center">There are no events yet.</p>
    {% else %}
        <div class="row gy-4">
            {% for event in events %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card rounded shadow border border-secondary border-2">
                        <a href="{{ url_for('event.show', id=event.id) }}" class="stretched-link"></a>
                        <img src="{{ event.image }}" class="card-img-top" style="height: 160px;" />
                        <div class="card-body">
                            <h5 class="card-title">{{ event.name }}</h5>
                            <p class="card-text">{{event.status}}<br>{{ event.artist }}<br>{{ event.genre }}<br>{{ event.location }}<br>{{ event.event_date.strftime('%d/%m/%y') }}<br>{{ event.time }}</p>
                        </div>
                    </div>
                </div>


	{% endfor %}
	</div>
    {% endif %}
	<!--
        <div class = "row gy-4">
            <div class = "col-lg-3 col-md-4 col-sm-6">
                <div class="card rounded shadow border border-secondary border-2">
                    <a href = "event_details.html" class = "stretched-link"></a><img src="../static/img/band.jpeg" class="card-img-top" style = "height: 160px;"></a>
                    <div class="card-body">
                      <h5 class="card-title">The Magic Music Maker</h5>
                      <p class="card-text">Open<br>Brisbane<br>06/09/23<br>7:00 PM</p>
                    </div>
                </div>
            </div>
            <div class = "col-lg-3 col-md-4 col-sm-6">
                <div class="card rounded shadow border border-secondary border-2">
                    <a href = "event_details.html" class = "stretched-link"></a><img src="../static/img/band2.jpg" class="card-img-top" style = "height: 160px;"></a>
                    <div class="card-body">
                      <h5 class="card-title">Live on Stage</h5>
                      <p class="card-text">Open<br>Kelvin Grove<br>17/09/23<br>7:30 PM</p>
                    </div>
                </div>
            </div>
            <div class = "col-lg-3 col-md-4 col-sm-6">
                <div class="card rounded shadow border border-secondary border-2">
                    <a href = "event_details.html" class = "stretched-link"></a><img src="../static/img/band3.jpg" class="card-img-top" style = "height: 160px;"></a>
                    <div class="card-body">
                      <h5 class="card-title">Mr Music Live</h5>
                      <p class="card-text">Sold Out<br>Sun Corp Stadium<br>23/09/23<br>7:00 PM</p>
                    </div>
                </div>
            </div>
            <div class = "col-lg-3 col-md-4 col-sm-6">
                <div class="card rounded shadow border border-secondary border-2">
                    <a href = "event_details.html" class = "stretched-link"></a><img src="../static/img/band4.jpg" class="card-img-top" style = "height: 160px;"></a>
                    <div class="card-body">
                      <h5 class="card-title">Live Music</h5>
                      <p class="card-text">Open<br>Brisbane<br>31/08/23<br>7:00 PM</p>
                    </div>
                </div>
            </div>
            <div class = "col-lg-3 col-md-4 col-sm-6">
                <div class="card rounded shadow border border-secondary border-2">
                    <a href = "event_details.html" class = "stretched-link"></a><img src="../static/img/band5.jpg" class="card-img-top" style = "height: 160px;"></a>
                    <div class="card-body">
                      <h5 class="card-title">The Band Playing</h5>
                      <p class="card-text">Open<br>Brisbane<br>15/10/23<br>8:00 PM</p>
                    </div>
                </div>
            </div>
            <div class = "col-lg-3 col-md-4 col-sm-6">
                <div class="card rounded shadow border border-secondary border-2">
                    <a href = "event_details.html" class = "stretched-link"></a><img src="../static/img/band6.jpg" class="card-img-top" style = "height: 160px;"></a>
                    <div class="card-body">
                      <h5 class="card-title">Big Birthday Bash</h5>
                      <p class="card-text">Open<br>Lutwyche<br>25/10/23<br>6:30 PM</p>
                    </div>
                </div>
            </div>
            <div class = "col-lg-3 col-md-4 col-sm-6">
                <div class="card rounded shadow border border-secondary border-2">
                    <a href = "event_details.html" class = "stretched-link"></a><img src="../static/img/band7.jpg" class="card-img-top" style = "height: 160px;"></a>
                    <div class="card-body">
                      <h5 class="card-title">Never Ending Grooves</h5>
                      <p class="card-text">Open<br>Brisbane<br>07/09/23<br>7:00 PM</p>
                    </div>
                </div>
            </div>
            <div class = "col-lg-3 col-md-4 col-sm-6">
                <div class="card rounded shadow border border-secondary border-2">
                    <a href = "event_details.html" class = "stretched-link"></a><img src="../static/img/band8.jpg" class="card-img-top" style = "height: 160px;"></a>
                    <div class="card-body">
                      <h5 class="card-title">The Magic Music Maker 2</h5>
                      <p class="card-text">Open<br>Fortitude Valley<br>13/10/23<br>9:00 PM</p>
                    </div>
                </div>
	    </div> --!>
        </div>
    </div>
{% endblock %}
