{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_form %}
{% from "bootstrap5/form.html" import render_field %}
{% block content %}

<div class="page-header">
    <h4>{{heading}}</h4>
</div>

<!-- Form rendering is simple and easy if using bootstrap -->
<div class = "container-fluid">
    <div class = "row justify-content-center">
        <div class="mb-3 col-sm-6 form-group">
            {{ render_form(form) }}
        </div> 
    </div>
</div>
<!-- When you have login form, then do show the user a link to register -->
{% if heading|lower =='login' %}
<div class="col-md-4">
    <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
</div>
{% endif %}

{% endblock %}